Dsl/GeneratedCode/FMRMRCMMGProyectoIPSSchema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema id="FMRMRCMMGProyectoIPSSchema" targetNamespace="http://schemas.microsoft.com/dsltools/FMRMRCMMGProyectoIPS" elementFormDefault="qualified" xmlns="http://schemas.microsoft.com/dsltools/FMRMRCMMGProyectoIPS" xmlns:core="http://schemas.microsoft.com/VisualStudio/2008/DslTools/Core" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import id="CoreSchema" namespace="http://schemas.microsoft.com/VisualStudio/2008/DslTools/Core" />
  <!-- Tapiz -->
  <xsd:element name="tapiz" type="Tapiz" substitutionGroup="core:modelElement" />
  <xsd:complexType name="Tapiz">
    <xsd:annotation>
      <xsd:documentation>The root in which all other elements are embedded. Appears as a diagram.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Relationship: TapizHasElementoes -->
          <xsd:element name="elementoes" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instances of TapizHasElementoes</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element ref="tapizHasElementoes" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                    <xsd:documentation>[Instance of TapizHasElementoes needs to be serialized in full-form]</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <!-- Relationship: TapizHasElementosWebbed -->
          <xsd:element name="elementosWebbed" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instances of TapizHasElementosWebbed</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element ref="tapizHasElementosWebbed" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                    <xsd:documentation>[Instance of TapizHasElementosWebbed needs to be serialized in full-form]</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- dslVersion -->
        <xsd:attribute name="dslVersion" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Version of the model serialized in this file.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- Tapiz Moniker -->
  <xsd:element name="tapizMoniker" type="TapizMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="TapizMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for Tapiz instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- Entidad -->
  <xsd:element name="entidad" type="Entidad" substitutionGroup="elemento" />
  <xsd:complexType name="Entidad">
    <xsd:complexContent>
      <xsd:extension base="Elemento">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Relationship: EntidadReferencesAtributo -->
          <xsd:element name="atributo" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instances of EntidadReferencesAtributo</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element ref="entidadReferencesAtributo" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                    <xsd:documentation>[Instance of EntidadReferencesAtributo needs to be serialized in full-form]</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <!-- Relationship: EntidadReferencesRelacion1 -->
          <xsd:element name="relacion" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instances of EntidadReferencesRelacion1</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element ref="entidadReferencesRelacion1" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                    <xsd:documentation>[Instance of EntidadReferencesRelacion1 needs to be serialized in full-form]</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <!-- Relationship: EntidadReferencesAtributoKey -->
          <xsd:element name="atributoKey" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instance of EntidadReferencesAtributoKey</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element ref="entidadReferencesAtributoKey" minOccurs="1" maxOccurs="1">
                  <xsd:annotation>
                    <xsd:documentation>[Instance of EntidadReferencesAtributoKey needs to be serialized in full-form]</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- Entidad Moniker -->
  <xsd:element name="entidadMoniker" type="EntidadMoniker" substitutionGroup="elementoMoniker" />
  <xsd:complexType name="EntidadMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for Entidad instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="ElementoMoniker">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- Atributo -->
  <xsd:element name="atributo" type="Atributo" substitutionGroup="elemento" />
  <xsd:complexType name="Atributo">
    <xsd:complexContent>
      <xsd:extension base="Elemento">
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- Atributo Moniker -->
  <xsd:element name="atributoMoniker" type="AtributoMoniker" substitutionGroup="elementoMoniker" />
  <xsd:complexType name="AtributoMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for Atributo instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="ElementoMoniker">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- Relacion -->
  <xsd:element name="relacion" type="Relacion" substitutionGroup="elemento" />
  <xsd:complexType name="Relacion">
    <xsd:complexContent>
      <xsd:extension base="Elemento">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Relationship: RelacionReferencesAtributoRelacion -->
          <xsd:element name="atributoRelacion" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instances of RelacionReferencesAtributoRelacion</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element ref="relacionReferencesAtributoRelacion" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                    <xsd:documentation>[Instance of RelacionReferencesAtributoRelacion needs to be serialized in full-form]</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- Relacion Moniker -->
  <xsd:element name="relacionMoniker" type="RelacionMoniker" substitutionGroup="elementoMoniker" />
  <xsd:complexType name="RelacionMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for Relacion instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="ElementoMoniker">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- Elemento -->
  <xsd:element name="elemento" abstract="true" type="Elemento" substitutionGroup="core:modelElement" />
  <xsd:complexType name="Elemento" abstract="true" >
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: nombre -->
        <xsd:attribute name="nombre" type="xsd:string" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- Elemento Moniker -->
  <xsd:element name="elementoMoniker" abstract="true" type="ElementoMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="ElementoMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for Elemento instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- AtributoKey -->
  <xsd:element name="atributoKey" type="AtributoKey" substitutionGroup="elemento" />
  <xsd:complexType name="AtributoKey">
    <xsd:complexContent>
      <xsd:extension base="Elemento">
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- AtributoKey Moniker -->
  <xsd:element name="atributoKeyMoniker" type="AtributoKeyMoniker" substitutionGroup="elementoMoniker" />
  <xsd:complexType name="AtributoKeyMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for AtributoKey instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="ElementoMoniker">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- AtributoRelacion -->
  <xsd:element name="atributoRelacion" type="AtributoRelacion" substitutionGroup="elemento" />
  <xsd:complexType name="AtributoRelacion">
    <xsd:complexContent>
      <xsd:extension base="Elemento">
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- AtributoRelacion Moniker -->
  <xsd:element name="atributoRelacionMoniker" type="AtributoRelacionMoniker" substitutionGroup="elementoMoniker" />
  <xsd:complexType name="AtributoRelacionMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for AtributoRelacion instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="ElementoMoniker">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- Portal -->
  <xsd:element name="portal" type="Portal" substitutionGroup="elementosWeb" />
  <xsd:complexType name="Portal">
    <xsd:complexContent>
      <xsd:extension base="ElementosWeb">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Relationship: PortalReferencesPaged -->
          <xsd:element name="paged" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instances of PortalReferencesPaged</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element ref="portalReferencesPaged" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                    <xsd:documentation>[Instance of PortalReferencesPaged needs to be serialized in full-form]</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: backgroundColor -->
        <xsd:attribute name="backgroundColor" type="xsd:string" />
        <!-- Property: titleText -->
        <xsd:attribute name="titleText" type="xsd:string" />
        <!-- Property: titleColor -->
        <xsd:attribute name="titleColor" type="xsd:string" />
        <!-- Property: titleFontFamily -->
        <xsd:attribute name="titleFontFamily" type="xsd:string" />
        <!-- Property: titleFontSize -->
        <xsd:attribute name="titleFontSize" type="xsd:string" />
        <!-- Property: titleAlignment -->
        <xsd:attribute name="titleAlignment" type="TextAlignment" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- Portal Moniker -->
  <xsd:element name="portalMoniker" type="PortalMoniker" substitutionGroup="elementosWebMoniker" />
  <xsd:complexType name="PortalMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for Portal instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="ElementosWebMoniker">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- Page -->
  <xsd:element name="page" type="Page" substitutionGroup="elementosWeb" />
  <xsd:complexType name="Page">
    <xsd:complexContent>
      <xsd:extension base="ElementosWeb">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Relationship: PageReferencesFielded -->
          <xsd:element name="fielded" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instances of PageReferencesFielded</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element ref="pageReferencesFielded" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                    <xsd:documentation>[Instance of PageReferencesFielded needs to be serialized in full-form]</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: titleColor -->
        <xsd:attribute name="titleColor" type="xsd:string" />
        <!-- Property: titleFontFamily -->
        <xsd:attribute name="titleFontFamily" type="xsd:string" />
        <!-- Property: titleFontSize -->
        <xsd:attribute name="titleFontSize" type="xsd:string" />
        <!-- Property: titleAlignment -->
        <xsd:attribute name="titleAlignment" type="TextAlignment" />
        <!-- Property: additionalCSS -->
        <xsd:attribute name="additionalCSS" type="xsd:string" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- Page Moniker -->
  <xsd:element name="pageMoniker" type="PageMoniker" substitutionGroup="elementosWebMoniker" />
  <xsd:complexType name="PageMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for Page instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="ElementosWebMoniker">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- Field -->
  <xsd:element name="field" type="Field" substitutionGroup="elementosWeb" />
  <xsd:complexType name="Field">
    <xsd:complexContent>
      <xsd:extension base="ElementosWeb">
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: labelColor -->
        <xsd:attribute name="labelColor" type="xsd:string" />
        <!-- Property: labelFontFamily -->
        <xsd:attribute name="labelFontFamily" type="xsd:string" />
        <!-- Property: labelFontSize -->
        <xsd:attribute name="labelFontSize" type="xsd:string" />
        <!-- Property: labelAlignment -->
        <xsd:attribute name="labelAlignment" type="TextAlignment" />
        <!-- Property: placeholder -->
        <xsd:attribute name="placeholder" type="xsd:string" />
        <!-- Property: required -->
        <xsd:attribute name="required" type="xsd:boolean" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- Field Moniker -->
  <xsd:element name="fieldMoniker" type="FieldMoniker" substitutionGroup="elementosWebMoniker" />
  <xsd:complexType name="FieldMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for Field instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="ElementosWebMoniker">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ElementosWeb -->
  <xsd:element name="elementosWeb" abstract="true" type="ElementosWeb" substitutionGroup="core:modelElement" />
  <xsd:complexType name="ElementosWeb" abstract="true" >
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ElementosWeb Moniker -->
  <xsd:element name="elementosWebMoniker" abstract="true" type="ElementosWebMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="ElementosWebMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for ElementosWeb instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- EntidadReferencesAtributo -->
  <xsd:element name="entidadReferencesAtributo" type="EntidadReferencesAtributo" substitutionGroup="core:modelElement" />
  <xsd:complexType name="EntidadReferencesAtributo">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end Atributo -->
          <xsd:element ref="atributoMoniker" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- EntidadReferencesAtributo Moniker -->
  <xsd:element name="entidadReferencesAtributoMoniker" type="EntidadReferencesAtributoMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="EntidadReferencesAtributoMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for EntidadReferencesAtributo instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- EntidadReferencesRelacion1 -->
  <xsd:element name="entidadReferencesRelacion1" type="EntidadReferencesRelacion1" substitutionGroup="core:modelElement" />
  <xsd:complexType name="EntidadReferencesRelacion1">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end Relacion -->
          <xsd:element ref="relacionMoniker" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: cardinalidad -->
        <xsd:attribute name="cardinalidad" type="Cardinalidad" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- EntidadReferencesRelacion1 Moniker -->
  <xsd:element name="entidadReferencesRelacion1Moniker" type="EntidadReferencesRelacion1Moniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="EntidadReferencesRelacion1Moniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for EntidadReferencesRelacion1 instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- TapizHasElementoes -->
  <xsd:element name="tapizHasElementoes" type="TapizHasElementoes" substitutionGroup="core:modelElement" />
  <xsd:complexType name="TapizHasElementoes">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end Elemento -->
          <xsd:element ref="elemento" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- TapizHasElementoes Moniker -->
  <xsd:element name="tapizHasElementoesMoniker" type="TapizHasElementoesMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="TapizHasElementoesMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for TapizHasElementoes instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- EntidadReferencesAtributoKey -->
  <xsd:element name="entidadReferencesAtributoKey" type="EntidadReferencesAtributoKey" substitutionGroup="core:modelElement" />
  <xsd:complexType name="EntidadReferencesAtributoKey">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end AtributoKey -->
          <xsd:element ref="atributoKeyMoniker" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- EntidadReferencesAtributoKey Moniker -->
  <xsd:element name="entidadReferencesAtributoKeyMoniker" type="EntidadReferencesAtributoKeyMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="EntidadReferencesAtributoKeyMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for EntidadReferencesAtributoKey instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- RelacionReferencesAtributoRelacion -->
  <xsd:element name="relacionReferencesAtributoRelacion" type="RelacionReferencesAtributoRelacion" substitutionGroup="core:modelElement" />
  <xsd:complexType name="RelacionReferencesAtributoRelacion">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end AtributoRelacion -->
          <xsd:element ref="atributoRelacionMoniker" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- RelacionReferencesAtributoRelacion Moniker -->
  <xsd:element name="relacionReferencesAtributoRelacionMoniker" type="RelacionReferencesAtributoRelacionMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="RelacionReferencesAtributoRelacionMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for RelacionReferencesAtributoRelacion instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- PortalReferencesPaged -->
  <xsd:element name="portalReferencesPaged" type="PortalReferencesPaged" substitutionGroup="core:modelElement" />
  <xsd:complexType name="PortalReferencesPaged">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end Page -->
          <xsd:element ref="pageMoniker" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- PortalReferencesPaged Moniker -->
  <xsd:element name="portalReferencesPagedMoniker" type="PortalReferencesPagedMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="PortalReferencesPagedMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for PortalReferencesPaged instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- PageReferencesFielded -->
  <xsd:element name="pageReferencesFielded" type="PageReferencesFielded" substitutionGroup="core:modelElement" />
  <xsd:complexType name="PageReferencesFielded">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end Field -->
          <xsd:element ref="fieldMoniker" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- PageReferencesFielded Moniker -->
  <xsd:element name="pageReferencesFieldedMoniker" type="PageReferencesFieldedMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="PageReferencesFieldedMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for PageReferencesFielded instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- TapizHasElementosWebbed -->
  <xsd:element name="tapizHasElementosWebbed" type="TapizHasElementosWebbed" substitutionGroup="core:modelElement" />
  <xsd:complexType name="TapizHasElementosWebbed">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end ElementosWeb -->
          <xsd:element ref="elementosWeb" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- TapizHasElementosWebbed Moniker -->
  <xsd:element name="tapizHasElementosWebbedMoniker" type="TapizHasElementosWebbedMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="TapizHasElementosWebbedMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for TapizHasElementosWebbed instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- Enum Cardinalidad -->
  <xsd:simpleType name="Cardinalidad">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="ceroAuno"/>
      <xsd:enumeration value="ceroAn"/>
      <xsd:enumeration value="unoAn"/>
      <xsd:enumeration value="unoAuno"/>
    </xsd:restriction>
  </xsd:simpleType>
  
  <!-- Enum TextAlignment -->
  <xsd:simpleType name="TextAlignment">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Left"/>
      <xsd:enumeration value="Right"/>
      <xsd:enumeration value="Center"/>
    </xsd:restriction>
  </xsd:simpleType>
  
</xsd:schema>

